.container{
	width: 950px;
	margin: 0 auto;
}
.title::after{
	content: '';
	display: block;
	width: 42px;
	height: 2px;
	background-color: #d55727;
	display: block;
	margin: 32px auto 0;
}
.clients_title{
	text-align: center;
	padding-top: 70px;
	/* padding-bottom: 42px; */
	color: #000000;
	font-size: 40px;
	font-weight: 400;
	text-transform: uppercase;
	/* display: block; */
}

.section_clients{
	background-color: #f8f8f8;
}
.client_img{
	display: inline-block;
	width: 20%;	 
	margin: 70px 6%;	
}
/* end clients */